$light-blue: #0068b6;
$deep-blue: #00428d;

$breakpoints:(
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1140px
);
* {
    box-sizing: border-box;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: #fff0dc;
}
img {
    width: 100%;
    vertical-align: middle;
}

.wrapper {
    margin: auto;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.title {
    width: 200px;
}
.t-center {
    text-align: center;
    margin-bottom: 30px;
}


%col {
    padding: 15px;
}
@mixin rwd($w){
    @media (min-width: $w){
        @content;
    }
}
@for $i from 1 through 12 {
    .c-#{$i}{
        flex: 1 0 100% / 12 * $i
    }
  }
@each $size,$w in $breakpoints {
    @for $i from 1 through 12 {
      .c-#{$size}-#{$i}{
        @extend %col;
        // flex: 1 0 100% / 12 * $i
        width: 100%;
      }
    }
    @media screen and (min-width: $w){
      .wrapper {
        width: $w;
      }
      @for $i from 1 through 12 {
        .c-#{$size}-#{$i}{
            flex: 1 0 100% / 12 * $i
        }
      }
    }
  }
// @for $i from 1 through 12 {
//     .c-#{$i}{
//         flex: 0 0 100% / 12 * $i
//     }
// }
//nav
nav {
    background:linear-gradient($deep-blue,$light-blue);

}
nav .wrapper {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    width: 200px;
}
nav .menu a{
    color: #fff;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    border-right: 1px solid #fff
}
//nav //
// header
#header {
    background: url("../images/bg.png")no-repeat center center ;
    background-size: cover;
}
#header .wrapper {
    height: 600px;

}
.main-plane {
    width: 80%;
    position: absolute;
    left: -300px;
    top: 50px;
}
.main-c1 {
    width: 250px;
    position: absolute;
    right: 100px;
    top: 50px;
}
.main-c2 {
    width: 150px;
    position: absolute;
    right: 350px;
    top: 30px;
}
.main-left {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 60px;
}
.main-right {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 60px;
}

// header //
#feature .wrapper {
    background: #fff;
    border-radius: 55px;
    padding: 50px 0;
}
#feature .row {
    width: 100%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
#feature {
    padding-top: 100px;
}
#feature .c-4 {
    padding: 0 30px;
}
#sale {
    padding: 100px 0;
}
.sale-content {
    padding-left: 30px;
    padding-right: 30px;
}
.sale-btn {
    width: 280px;
    display: block;
    margin: 20px auto 30px;
    @include rwd(map-get($breakpoints,sm)){
        width: 300px;
    }
}
.sale-desc {
    margin-top: 5px;
}
#order {
    padding-top: 50px;
    padding-bottom: 50px;
}
#order .row {
    width: 100%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
.order-btn {
    padding: 0;
    margin: 0;
}
.order-btn-go {
    display: block;
    margin: 50px auto 0;
    width: 300px;
}
//area
#area {
    background: #ade2ff;
    padding-top: 100px;
    padding-bottom: 200px;
}
//area //
.area-title {
    width: 200px;
    display: inline-block;
    margin-right: 30px;
}
.area-other {
    width: 120px;
    display: inline-block;
}
.hotel {
    margin-bottom: 10px;
}
.hotel, .food {
    margin-left: 50px;
}
.hotel a, .food a {
    border-right: 1px solid #000;
    padding-right: 8px;
    padding-left: 5px;
    color: #666;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.hotel img, .food img {
    width: 40px;
}

#map-tc,#map-td,#map-hl,#map-km,#map-ph {
    position: relative;
}
#map-tc a, #map-td a, #map-hl a, #map-km a, #map-ph a {
    position: absolute;
}
.map-tc-1 {
    width: 200px;
    left: 100px;
    top: 100px;
}
.map-tc-2 {
    width: 250px;
    left: 100px;
    top: 350px;
}
.map-tc-3 {
    width: 200px;
    left: 200px;
    top: 500px;
}
.map-tc-4 {
    width: 100px;
    left: 300px;
    top:200px;
}
.map-tc-5 {
    width: 100px;
    left: 400px;
    top: 350px;
}
.map-tc-6 {
    width: 200px;
    left: 500px;
    top: 300px;
}
//map-td
.map-td-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-td-1 {
    width: 200px;
    left:650px;
    top:100px;
}
.map-td-2 {
    width: 150px;
    left:400px;
    top:200px;
}
.map-td-3 {
    width: 100px;
    left:420px;
    top:300px;
}
.map-td-4 {
    width: 120px;
    left:300px;
    top:450px;
}
.map-td-5 {
    width: 160px;
    left:200px;
    top:600px;
}
.map-td-6 {
    width: 120px;
    left:280px;
    top:320px;
}
.map-td-7 {
    width: 160px;
    left:750px;
    top:450px;
}
.map-td-8 {
    width: 160px;
    left:750px;
    top:750px;
}
//hl
.map-hl-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-hl-1 {
    width: 200px;
    left:500px;
    top:0px;
}
.map-hl-2 {
    width: 150px;
    left:550px;
    top:180px;
}
.map-hl-3 {
    width:200px;
    left:450px;
    top:350px;
}
.map-hl-4 {
    width: 200px;
    left:350px;
    top:600px;
}
.map-hl-5 {
    width: 160px;
    left:850px;
    top:0px;
}
.map-hl-6 {
    width: 250px;
    left:750px;
    top:200px;
}
.map-hl-7 {
    width: 160px;
    left:750px;
    top:450px;
}
//km
.map-km-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-km-1 {
    width: 100px;
    left:130px;
    top:280px;
}
.map-km-2 {
    width: 150px;
    left:500px;
    top:130px;
}
.map-km-3 {
    width:130px;
    left:500px;
    top:280px;
}
.map-km-4 {
    width: 200px;
    left:680px;
    top:150px;
}
.map-km-5 {
    width: 180px;
    left:800px;
    top:50px;
}
.map-km-6 {
    width: 200px;
    left:620px;
    top:350px;
}
//ph
.map-ph-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-ph-1 {
    width: 150px;
    left:330px;
    top:350px;
}
.map-ph-2 {
    width: 80px;
    left:520px;
    top:150px;
}
.map-ph-3 {
    width:200px;
    left:600px;
    top:150px;
}
.map-ph-4 {
    width: 220px;
    left:620px;
    top:300px;
}
.map-ph-5 {
    width: 120px;
    left:500px;
    top:420px;
}
.map-ph-6 {
    width: 200px;
    left:620px;
    top:400px;
}
.map-ph-7 {
    width: 200px;
    left:460px;
    top:970px;
}
.map-title {
    width: auto;
    height: 30px;
    margin-bottom: 15px;
}
.map-desc {
    color: #444;
    line-height: 1.5;
}
.divide {
    margin-top: 50px;
}
#gotop {
    position: fixed;
    right: 30px;
    bottom:30px;
    width: 50px;
}