$light-blue: #0068b6;
$deep-blue: #00428d;

$breakpoints:(
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1140px
);
* {
    box-sizing: border-box;
    font-family: 'Microsoft Jhenghei';
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background: #fff0dc;
}
img {
    width: 100%;
    vertical-align: middle;
}

.wrapper {
    margin: auto;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.title {
    width: 200px;
}
.t-center {
    text-align: center;
    margin-bottom: 30px;
}


%col {
    padding: 15px;
}
@mixin rwd($w){
    @media (min-width: $w){
        @content;
    }
}
@for $i from 1 through 12 {
    .c-#{$i}{
        flex: 1 0 100% / 12 * $i
    }
  }
@each $size,$w in $breakpoints {
    @for $i from 1 through 12 {
      .c-#{$size}-#{$i}{
        @extend %col;
        // flex: 1 0 100% / 12 * $i
        width: 100%;
      }
    }
    @media screen and (min-width: $w){
      .wrapper {
        width: $w;
      }
      @for $i from 1 through 12 {
        .c-#{$size}-#{$i}{
            flex: 1 0 100% / 12 * $i
        }
      }
    }
  }
// @for $i from 1 through 12 {
//     .c-#{$i}{
//         flex: 0 0 100% / 12 * $i
//     }
// }
//nav
nav {
    background:linear-gradient($deep-blue,$light-blue);
    .wrapper {
        // height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        @include rwd(map-get($breakpoints,md)){
            flex-direction: row;
            height: 70px;
            justify-content: space-between;
        }
    }
    .logo {
        width: 200px;
    }
    .menu{
        display: none;
        margin-right: auto;
        @include rwd(map-get($breakpoints,md)){
            display: block;
            margin-right: 0;
        }
        a{
            color: #fff;
            padding: 10px;
            text-decoration: none;
            border: 0;
            display: block;
            @include rwd(map-get($breakpoints,md)){
                display: inline;
                padding: 0 10px 0 15px;
                border-right: 1px solid #fff;
                &:nth-last-child(1){
                    border: 0;
                }
            }
            i {
                width: 30px;
                text-align: center;
                @include rwd(map-get($breakpoints,md)){
                    width: auto;
                    text-align: center;
                }
            }
        }
    }
    .toggle {
        display: block;
        margin-top: 10px;
        @include rwd(map-get($breakpoints,md)){
            display: none;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}


//nav //
// header
#header {
    background: url("../images/bg.png")no-repeat center center ;
    background-size: cover;
}
#header .wrapper {
    height: 600px;

}
.main-plane {
    width: 500px;
    position: absolute;
    left: -200px;
    top: 20px;
    @include rwd(map-get($breakpoints,sm)){
        width: 800px;
        left: -300px;
        top: 20px;
    }
    @include rwd(map-get($breakpoints,md)){
        width: 800px;
        left: -300px;
        top: 80px;
    }
    @include rwd(map-get($breakpoints,lg)){
        width: 80%;
        left: -300px;
        top: 50px;
    }
}
.main-c1 {
    width: 250px;
    position: absolute;
    right: 100px;
    top: 50px;
}
.main-c2 {
    width: 150px;
    position: absolute;
    right: 350px;
    top: 30px;
}
.main-left {
    animation: ani1 3s infinite;
    width: 300px;
    position: absolute;
    left: 20px;
    top: 120px;
    @include rwd(map-get($breakpoints,sm)){
        width: 350px;
        left:50px;
        top: 160px;
    }
    @include rwd(map-get($breakpoints,md)){
        width: 60%;
        left: 0;
        top: 280px;
    }
    @include rwd(map-get($breakpoints,lg)){
        width: 50%;
        left: 0;
        top: 280px;
    }
}
.main-right {
    width: 320px;
    position: absolute;
    right: 0px;
    top: 300px;
    @include rwd(map-get($breakpoints,sm)){
        width: 400px;
        right: 40px;
        top: 310px;
    }
    @include rwd(map-get($breakpoints,md)){
        width: 60%;
        right: -70px;
        top: 200px;
    }
    @include rwd(map-get($breakpoints,lg)){
        width: 50%;
        right: 0;
        top: 200px;
    }
}

// header //
#feature .wrapper {
    background: #fff;
    border-radius: 55px;
    padding: 50px 0;
}
#feature .row {
    width: 100%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
#feature {
    padding-top: 100px;
}
#feature .c-4 {
    padding: 0 30px;
}
#sale {
    padding: 100px 0 0;
}
.sale-content {
    padding-left: 30px;
    padding-right: 30px;
}
.sale-btn {
    width: 75%;
    display: block;
    margin: 20px auto 30px;
    @include rwd(map-get($breakpoints,sm)){
        width: 300px;
    }
}
.sale-desc {
    margin-top: 5px;
}
#order {
    padding-top: 50px;
    padding-bottom: 50px;
}
#order .row {
    width: 90%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
.order-btn {
    padding: 0;
    margin: 0;
}
.order-btn-go {
    display: block;
    margin: 50px auto 0;
    width: 100%;
    @include rwd(map-get($breakpoints,lg)){
        width: 300px;
    }
}
//area
#area {
    background: #ade2ff;
    padding-top: 100px;
    padding-bottom: 200px;
}
//area //
.area-title {
    width: 200px;
    display: block;
    margin-bottom: 30px;
    margin-right: 30px;
    @include rwd(map-get($breakpoints,md)){
        display: inline-block;
    }
}
.area-other {
    width: 90px;
    display: inline-block;
    @include rwd(map-get($breakpoints,md)){
        width: 120px;
    }
}
.hotel {
    margin-bottom: 10px;
    a {
        &:hover {
            color: $light-blue;
        }
    }
}

.hotel, .food {
    margin-left: 0;
    @include rwd(map-get($breakpoints,md)){
        margin-left: 50px;
    }
}
.hotel a, .food a {
    border-right: 1px solid #000;
    padding-right: 8px;
    padding-left: 5px;
    color: #666;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    &:nth-last-child(1){
        border: 0;
    }
}
.hotel img, .food img {
    width: 40px;
}

#map-tc,#map-td,#map-hl,#map-km,#map-ph {
    position: relative;
}
#map-tc a, #map-td a, #map-hl a, #map-km a, #map-ph a {
    position: absolute;
}
#tc,#td,#hl,#km,#ph {
    align-items: center;
}
//tc
.map-tc-1 {
    width: 15%;
    left: 6%;
    top: 20%;
}
.map-tc-2 {
    width: 22%;
    left: 10%;
    top: 50%;
}
.map-tc-3 {
    width: 20%;
    left:18%;
    top: 70%;
}
.map-tc-4 {
    width: 10%;
    left: 28%;
    top:24%;
}
.map-tc-5 {
    width: 10%;
    left: 40%;
    top: 46%;
}
.map-tc-6 {
    width: 23%;
    left: 55%;
    top: 35%;
}
//map-td
.map-td-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-td-1 {
    width: 20%;
    left:58%;
    top:10%;
}
.map-td-2 {
    width: 14%;
    left:35%;
    top:20%;
}
.map-td-3 {
    width: 10%;
    left:37%;
    top:32%;
}
.map-td-4 {
    width: 11%;
    left:27%;
    top:46%;
}
.map-td-5 {
    width: 15%;
    left:18%;
    top:60%;
}
.map-td-6 {
    width: 11%;
    left:26%;
    top:32%;
}
.map-td-7 {
    width: 16%;
    left:66%;
    top:45%;
}
.map-td-8 {
    width: 16%;
    left:66%;
    top:75%;
}
//hl
.map-hl-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-hl-1 {
    width: 20%;
    left:50%;
    top:0px;
}
.map-hl-2 {
    width: 14%;
    left:48%;
    top:18%;
}
.map-hl-3 {
    width:20%;
    left:40%;
    top:35%;
}
.map-hl-4 {
    width: 18%;
    left:33%;
    top:60%;
}
.map-hl-5 {
    width: 16%;
    left:78%;
    top:0%;
}
.map-hl-6 {
    width: 25%;
    left:70%;
    top:20%;
}
.map-hl-7 {
    width: 16%;
    left:66%;
    top:45%;
}
//km
.map-km-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-km-1 {
    width: 10%;
    left:12%;
    top:49%;
}
.map-km-2 {
    width: 15%;
    left:45%;
    top:13%;
}
.map-km-3 {
    width:13%;
    left:46%;
    top:48%;
}
.map-km-4 {
    width: 18%;
    left:60%;
    top:32%;
}
.map-km-5 {
    width: 18%;
    left:75%;
    top:5%;
}
.map-km-6 {
    width: 20%;
    left:52%;
    top:68%;
}
//ph
.map-ph-0 {
    width: 80%;
    display: block;
    margin: auto;
}
.map-ph-1 {
    width: 15%;
    left:30%;
    top:32%;
}
.map-ph-2 {
    width: 8%;
    left:46%;
    top:15%;
}
.map-ph-3 {
    width:20%;
    left:53%;
    top:13%;
}
.map-ph-4 {
    width: 22%;
    left:55%;
    top:27%;
}
.map-ph-5 {
    width: 12%;
    left:45%;
    top:36%;
}
.map-ph-6 {
    width: 20%;
    left:56%;
    top:37%;
}
.map-ph-7 {
    width: 20%;
    left:40%;
    top:88%;
}
.map-title {
    width: auto;
    height: 30px;
    margin-bottom: 15px;
}
.map-desc {
    color: #444;
    line-height: 1.5;
}
.divide {
    margin-top: 50px;
}
#gotop {
    position: fixed;
    right: 30px;
    bottom:30px;
    width: 50px;
}
@keyframes ani1 {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

._td{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 25%;
    bottom:25%;
}
._tc{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 41%;
    bottom: 53%;
}
._ph{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 66%;
    bottom: 33%;
}
._hl{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20%;
    bottom: 58%;
}
._km{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 58%;
    bottom: 62%;
}
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #9bf3fb;
    z-index: 999;
    .logo {
        width: 300px;
        margin: 25% auto 10px;
        text-align: center;
        color: #fff;
        img {
            margin-bottom: 10px;
        }
    }
}
