$light-blue: #0068b6;
$deep-blue: #00428d;

$breakpoints:(
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1140px
);
* {
    box-sizing: border-box;
}
body {
    background: #fff0dc;
}
img {
    width: 100%;
    vertical-align: middle;
}

.wrapper {
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.title {
    width: 200px;
}
.t-center {
    text-align: center;
    margin-bottom: 30px;
}


%col {
    padding: 15px;
}
@mixin rwd($w){
    @media (min-width: $w){
        @content;
    }
}
@for $i from 1 through 12 {
    .c-#{$i}{
        flex: 1 0 100% / 12 * $i
    }
  }
@each $size,$w in $breakpoints {
    @for $i from 1 through 12 {
      .c-#{$size}-#{$i}{
        @extend %col;
        // flex: 1 0 100% / 12 * $i
        width: 100%;
      }
    }
    @media screen and (min-width: $w){
      .wrapper {
        width: $w;
      }
      @for $i from 1 through 12 {
        .c-#{$size}-#{$i}{
            flex: 1 0 100% / 12 * $i
        }
      }
    }
  }
// @for $i from 1 through 12 {
//     .c-#{$i}{
//         flex: 0 0 100% / 12 * $i
//     }
// }
#feature .wrapper {
    background: #fff;
    border-radius: 55px;
    padding: 50px 0;
}
#feature .row {
    width: 100%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
#feature .c-4 {
    padding: 0 30px;
}
#sale {
    padding: 100px 0;
}
.sale-content {
    padding-left: 30px;
    padding-right: 30px;
}
.sale-btn {
    width: 280px;
    display: block;
    margin: 20px auto 30px;
    @include rwd(map-get($breakpoints,sm)){
        width: 300px;
    }
}
.sale-desc {
    margin-top: 5px;
}
#order {
    padding-top: 50px;
    padding-bottom: 50px;
}
#order .row {
    width: 100%;
    margin: auto;
    @include rwd(map-get($breakpoints,lg)){
        width: 860px;
    }
}
.order-btn {
    padding: 0;
    margin: 0;
}
.order-btn-go {
    display: block;
    margin: 50px auto 0;
    width: 300px;
}